*{
    padding: 0px;
    margin: 0px;
}

#contenedor{
    color: red;
}

#contenedor #post h1
{
    color: red;
    background-color: aqua;
}

#contenedor #post p{
    color: black;
    background-color: #fa5;
}